<?xml version="1.0"?>
<!--
/**
 * routes
 * @copyright Copyright © 1989 Staempfli. All rights reserved.
 * @author    dung.ngowz@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="drinksandco_search" frontName="drinksandco_search">
            <module name="DrinksAndCo_Search" />
        </route>
    </router>
</config>
